/* Root Info */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');
:root {
  --main-bg-color: rgb(22,22,22);
  --secondary-bg-color: rgb(56,56,56);
  --blue-gray: rgb(96, 123, 125);
  --lightblue-gray: rgb(133, 179, 182);
  --spotify-green: rgb(70, 244, 102);
  --black: rgb(0,0,0);
  --white: rgb(255,255,255);
  --pastel-pink: #ed719e;
}

/* Background */
#background{
  background-color: var(--main-bg-color)
}

/* Title */
#title-div{
  color:var(--white);
  text-align: center;
  font-family: Rubik, sans-serif;
}

/* Song Input/Play */
#song-input-div{
  height: 50px;
  width: 45.1%;
  outline: 4px solid var(--spotify-green);
  margin:auto;
  border-radius: 15px;
  stroke-dasharray: 71 283;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
}
#song-input{
  height: 38px;
  width: 84%;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  outline: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: white;
  font-size:22px;
  text-align: center;
  font-family: Rubik, sans-serif;
}
#play-button{
  fill: var(--pastel-pink);
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}
#countdown-div{
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  display: table;
}
#countdown{
  text-align: center;
  color: var(--white);
  font-size:32px;
  font-family: Rubik, sans-serif;
  vertical-align: middle;
  display: table-cell;
}
#score-container{
  position: absolute;
  bottom: -65%;
  left: 50%;
  transform: translateX(-50%);
  display: table;
}
#score{
  text-align: center;
  color: var(--white);
  font-size: 18px;
  font-family: Rubik, sans-serif;
  vertical-align: middle;
  display: table-cell;
  font-weight: lighter;
}
#wrong-answer{
  color: var(--pastel-pink);
  font-size: 18px;
  text-align: right;
  font-family: Rubik, sans-serif;
  vertical-align: middle;
  display: table-cell;
  font-weight: lighter;
}
#wrong-div{
  position: absolute;
  top: 120%;
  left: 40%;
  width: 60%;
  transform: translateX(-100%);
  display: none;
  animation-name: wronganswer;
  animation-duration: 2s;
  opacity: 1;
}
@keyframes wronganswer {
  0% {transform: translateX(-100%);}
  95% {transform: translateX(-75%);}
  100% {opacity: 0}
}
#right-answer{
  color: var(--spotify-green);
  font-size: 18px;
  text-align: right;
  font-family: Rubik, sans-serif;
  vertical-align: middle;
  display: table-cell;
  font-weight: lighter;
}
#right-div{
  position: absolute;
  bottom: -65%;
  left: 53.5%;
  transform: translateX(100%);
  display: none;
  animation-name: rightanswer;
  animation-duration: 1.5s;
  opacity: 1;
}
@keyframes rightanswer {
  0% {transform: translateX(100%);}
  90% {transform: translateX(-100%);}
  100% {opacity: 0}
}
#highscore-container{
  position: absolute;
  bottom: -65%;
  right:-10%;
  transform: translateX(-50%);
  display: table;
}
#highscore{
  color: var(--lightblue-gray);
  font-size: 18px;
  text-align: left;
  font-family: Rubik, sans-serif;
  vertical-align: middle;
  display: table-cell;
  font-weight: lighter;
}

#photo-container {
  height: 300px;
  width: 300px;
  border: 8px solid var(--spotify-green);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  display: none;
  animation: fadeIn 1s;
}
#photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Artist Selection */
#artist-input-outline{
  height: 34px;
  width: 31.1%;
  outline: 4px solid var(--black);
  margin:auto;
  border-radius: 15px;
  stroke-dasharray: 71 283;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
#artist-input-background{
  height: 28px;
  width: 98%;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
#artist-input{
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: Rubik, sans-serif;
}
#artist-loader {
  border: 4px solid var(--lightblue-gray); /* Light grey */
  border-top: 4px solid var(--spotify-green); /* Blue */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 4px;
  top: 9%;
  transform: translateY(-50%);
  opacity: 0;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#login-icon{
  height: 20px;
  width: 20px;
  fill: var(--white);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
#warning-icon{
  fill: var(--pastel-pink);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}