<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<style>
  h1  {text-align: center;}
  /*button {display:inline-block;}*/
  #home_button_container {text-align: center;}
  #play-button{
      width: 100px;
      height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  #hidden{
      /*display: None;*/
  }
</style>
<body>
    <div>
        <label for="artist_input"></label><input type="text" id="artist_input" name="Artist" required minlength="2" maxlength="150" size="150">
        <img id="play-button" src="https://www.svgrepo.com/show/358087/play-circle.svg" onclick="playMusic()" alt="Your computer is dumb">
        <p id="hidden">{{song_link}}</p>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='single-player.js')}}">
    </script>
</body>
</html>